   .reelsdisplay{
    width: 30rem;
    height: 45rem;
    /* display: grid; */
    /* grid-template-columns: repeat(4,1fr); */
    /* gap: 59px; */
    background-color:#ffffff ;
    border-radius: 30px;
    margin: 70px 80px;
    /* padding: 2rem 0; */
}