.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: aquamarine; */
  max-width: 300rem;
  /* height: 100vh; */
}
.main img {
  background-color: white;
  border-radius: 10px;
  /* width: 60%; */
}
.firstsection {
  display: flex;
  /* justify-content: center; */
  /* background-color: blanchedalmond; */
  gap: 10px;
  margin-top: 10px;
}
.firstsection img {
  width: 100px;
}
.firstimg {
  width: 40rem;
}
