.sectionone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 125px;
  margin-top: 50px;
  /* background-color: rgb(224, 240, 86); */
}
.carthead {
  /* background-color: aqua; */
  font-size: 5rem;
  padding-top: 10rem;
  padding-left: 22rem;
}

@media (max-width: 768px) {
  .sectionone {
    flex-direction: column;
    gap: 30px;
  }
  .carthead {
    font-size: 3rem;
    padding-left: 2rem;
  }
}

@media (max-width: 480px) {
  .sectionone {
    flex-direction: column;
    gap: 20px;
  }
  .maindiv {
    margin: 20px;
  }
  /* .maindiv h1 {
    font-size: 3rem; 
  } */
}

.maindiv {
  margin: 20px;
}

/* .maindiv h1 {
  font-size: 5rem;
  color: #220d4e;
} */
