.sectionone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 125px;
;
  /* background-color: rgb(224, 240, 86); */
}
.carthead {
  /* background-color: aqua; */
  font-size: 5rem;
  padding-top: 10%;
  padding-left: 10.5rem;
}

@media (max-width: 768px) {
  .sectionone {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 480px) {
  .sectionone {
    flex-direction: column;
    gap: 20px;
  }
  .maindiv {
   
  }
  /* .maindiv h1 {
    font-size: 3rem; 
  } */
}

.maindiv {
  /* margin: 50px; */
}

/* .maindiv h1 {
  font-size: 5rem;
  color: #220d4e;
} */
