.sectionone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  /* background-color: rgb(156, 224, 241); */
}

/* Responsive Layout */
@media (max-width: 768px) {
  .sectionone {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 480px) {
  /* For mobile devices */
  .sectionone {
    flex-direction: column;
    gap: 20px;
  }
  .maindiv {
    margin: 20px;
  }
  /* .maindiv h1 {
    font-size: 3rem; 
  } */
}

.maindiv {
  margin: 20px;
}

/* .maindiv h1 {
  font-size: 5rem;
  color: #220d4e;
} */
