.reviewsandratings {
  background-color: #ffffff;
  border: 1px solid #f0e9d6;
  border-radius: 3rem;
  padding: 6rem;
  max-width: 70vw;
  height: 40rem;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.header h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #1f2937;
}
.myswiper {
}

.rateproductbtn {
  background-color: #00a86b;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-weight: 600;
  width: 15rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.rateproductbtn:hover {
  background-color: #008f5d;
}

.iicon {
  margin-left: 0.25rem;
  width: 18px;
  height: 18px;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.stars {
  display: flex;
  margin-right: 0.5rem;
}

.star {
  width: 24px;
  height: 24px;
  color: #d1d5db;
}

.starfilled {
  color: #fbbf24;
  fill: currentColor;
}

.reviewcount {
  color: #4b5563;
  font-size: 2rem;
}

.reviewbox {
  background-color: #fff;
  /* border: 1px solid #f0e9d6; */
  border-radius: 0.5rem;
  padding: 1rem;
  height: 15rem;
  width: 70%;
  padding-top: 2rem;
}

.reviewrating {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.ratingbadge {
  background-color: #fbbf24;
  color: rgb(10, 10, 10);
  font-weight: bold;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.ratingtext {
  font-weight: 600;
  color: #1f2937;
  font-size: 1.5rem;
}

.reviewtext {
  color: #4b5563;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-top: 1rem;
}

.reviewerinfo {
  color: #6b7280;
  font-size: 1rem;
  padding-top: 1rem;
}
