.imgsection {
  background-color: transparent;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -1;
  height: 80vh;
}

.yellowBg {
  background-color: #f1d371;
  position: absolute;
  width: 60vw;
  height: 80vh;
  border-radius: 50%;
  z-index: -15;
}

.parallaxImgContainer {
  width: 100vw;
  height: 80vh;
  position: relative;
  overflow: hidden;
  max-width: 100vw;
  border-radius: 10px;
}
.parallaxImgContainer::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.6) 100%
  );
  pointer-events: none; /* Ensure it doesn’t interfere with interaction */
}

.imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.modalimg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures trimming from all sides */
  transition: transform 0.3s ease-out;
  will-change: transform;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .parallaxImgContainer {
    width: 80vw;
  }
}
