/* src/fonts.css */
@font-face {
    font-family: 'Degular';
    src: url('/fonts/Degular-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Sophia';
    src: url('/fonts/Sophia-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  